In [1]:
import pandas as pd

# Country Name

In [10]:
df = pd.read_csv('CountryName.csv', encoding='utf-8')
df.shape
df.sample(3)

(618, 2)

    Ctry_Name Ctry_ISO3
136   Curaçao       CUW
539    Turkey       TUR
499  Suriname       SUR

In [11]:
# tmp = pd.DataFrame(
#     {
#         'Ctry_Name': ['Korea (South)', 'Virgin Islands (Brit)', 'Hongkong', 'Virgin Islands(Brit)', 'England', 'United States Virgin Islands', 'Moldovia', 'Falkland Islands (Malvinas)', 'Turks & Caicos Islands', 'Taiwan ROC'],
#         'Ctry_ISO3': ['KOR', 'VGB', 'HKG', 'VGB', 'GBR', 'VIR', 'MDA', 'FLK', 'TCA', 'TWN']
#     }
# )

# df = pd.concat([df, tmp], ignore_index=True)


# tmp = pd.DataFrame(
#     {
#         'Ctry_Name': ['DR Congo', 'Somaliland', 'Transnistria', 'Northern Cyprus', 'Akrotiri and Dhekelia'],
#         'Ctry_ISO3': ['COD', 'SOM', 'MDA', 'CYP', 'GBR-AD']
#     }
# )

# df = pd.concat([df, tmp], ignore_index=True)

In [12]:
tmp = pd.DataFrame(
    {
        'Ctry_Name': [
            'Türkiye',
            'Caribbean Netherlands',
            'Svalbard & Jan Mayen', 
            'Côte d’Ivoire', 
            'St. Martin',
            'St. Barthélemy', 
            'São Tomé & Príncipe', 
            'Congo - Brazzaville',
            'St. Vincent & Grenadines', 
            'St. Kitts & Nevis',
            'Congo - Kinshasa', 
            'South Georgia & South Sandwich Islands',
            'U.S. Outlying Islands', 
            'Falkland Islands (Islas Malvinas)',
            'St. Pierre & Miquelon', 
            'Pitcairn Islands', 
            'Wallis & Futuna',
            'Heard & McDonald Islands'
        ],
        'Ctry_ISO3': [
            'TUR',
            'BES',
            'SJM', 
            'CIV', 
            'MAF',
            'BLM',
            'STP',
            'COG',
            'VCT',
            'KNA',
            'COD',
            'SGS',
            'UMI',
            'FLK',
            'SPM',
            'PCN',
            'WLF',
            'HMD'
        ],
    }
)

df = pd.concat([df, tmp], ignore_index=True)

In [13]:
# df.loc[df['Ctry_Name'].str.contains('\?')]

In [14]:
df.drop_duplicates(inplace=True)
df.shape

(620, 2)

In [15]:
df.duplicated(subset=['Ctry_Name']).sum()

0

In [16]:
df[df.duplicated(subset=['Ctry_Name'])]

Empty DataFrame
Columns: [Ctry_Name, Ctry_ISO3]
Index: []

In [17]:
df.sort_values(['Ctry_ISO3', 'Ctry_Name'], ascending=True, inplace=True)

In [18]:
df.to_csv('CountryName.csv', encoding='utf-8', index=False)

# Country ISO2

In [1]:
df = pd.read_csv('CountryISO2.csv', encoding='utf-8')
df.shape
df.sample(3)

(259, 2)

    Ctry_ISO2 Ctry_ISO3
107        IM       IMN
29         BO       BOL
148        MH       MHL